#gridContainer {
    max-width: 630px;
    max-height: 630px;
    aspect-ratio: 1 / 1;
}

.row {
    display: flex;
    background-color: white;
}

.gridElement {
    display: flex;
    flex: 1 1 auto;
    background-color: white;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}