.row {
    display: flex;
    background-color: aqua;
    max-width: 600px;
    max-height: 600px;
}

.gridElement {
    display: flex;
    flex: 1 1 auto;
    background-color: red;
    min-width: 8px;
    aspect-ratio: 1 / 1;
    border: 12px black;
}